@model CoPlayV2.Models.MatchIndexViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Step1", "Match", FormMethod.Post))
{
    <span>Choose a sport</span>
    <div class="form-group">
        @Html.EnumDropDownListFor(model => model.Sports.SportsName, 
                                  new { @class = "form-control" })  
       
        <span>Choose a sport level</span>
        @Html.EnumDropDownListFor(model => model.Level.SportsLevel, 
                                  new { @class = "form-control" })
        <br />

        <input id="SubmitSuburb" type="submit" value="Find" />      
    </div>
}


