@{
    ViewBag.Title = "About";
}
@Styles.Render("~/bundles/aboutus")


<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">


<!-- =========================
     PRE LOADER       
============================== -->
<div  class="preloader">

	<div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- =========================
    NAVIGATION SECTION   
============================== -->
<div class="navbar navbar-default navbar-fixed-top " role="navigation">
	<div class="container">

		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">CoPlay</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right main-navigation">
				<li><a href="index.html" class="smoothScroll">Home</a></li>
				<li><a href="about.html" class="smoothScroll">About</a></li>
                <li><a href="Search facility.html" class="smoothScroll">Search Facility</a></li>

			</ul>
		</div>

	</div>
</div>
<!-- =========================
    OVERVIEW SECTION   
============================== -->
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-sm-12">
				<img src="images/overview-img.jpg" class="img-responsive" alt="Overview">
				<blockquote class="wow fadeInUp" data-wow-delay="0.5s">Driver4T Drives Your Life</blockquote>
			</div>

			<div class="wow fadeInUp col-md-12 col-md-6" data-wow-delay="0.5s">
				<div class="overview-detail">
					<h2>Who we are</h2>
					<p>Driver4T is a group of four Monash University students in Business information system degrees and Information Technology Degrees perspective. Learning IT, but the difference of us groups us in a group. In these three months, we laughed, frightened, encouraged each other, and so on. We all believe, our story happened in these three months, but we still believe it is to be continued.</p>
                    <h2>What we believe.</h2>
                    <p>We all love sports, moreover we would love to help people find a way to enjoy sports from our website. We believe we can do it. 
                    </p>
                    <p> Then Coplay was born. </p>
                    <P>In the future, we believe CoPlay can give you more than a Website. </p>
				</div>
			</div>
   		</div>
	</div>
</section>


<!-- =========================
    TEAM MEMBER SECTION   
============================== -->
<section id="trainer" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.5s">
				<h2>Team Members</h2>
			</div>
            <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.5s">
                <div class="trainer-thumb">
                    <img src="images/trainer-img4.jpeg" class="img-responsive" alt="Trainer" style="width:250px;height: 325px">
                </div>
                <div class="overview-detail">
                    <h2>Yuxuan Lin</h2>
                    <h4>Work Experience</h4>
                    <p>- Internship in Bank of Communications in China (1 month) </p>
                    <p>- Work at Jerry Tek as software engineer in Melbourne (11 months) </p>

                    <h4>Skill List</h4>

                    <p>Java development including Android development </p>
                    
                    <p>Web application development with JavaEE, .Net C# and JavaScript </p>
                    
                    <p>Database (and distributed database) building and management, and work with HortonWorks </p>
                    
                    <p>Hardware programming in Arduino </p>
                
                    <p>Parallel system programming in OpenCL, OpenMP and OpenMPI</p>
                    
                    <p>Linux system management </p>
                    
                    <h4>Interests </h4>

                    <p>Economics bachelor </p>
                    
                    <p>Crazy about swimming and badminton </p>
                    
                    <p>liberalist and pessimism </p>
                </div>
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.5s">
                <div class="trainer-thumb">
                    <img src="images/trainer-img1.jpg" alt="Trainer" style="width:250px; height:325px">
                </div>
                <div >
                    <h2>Lan Wei</h2>
                    <h4>Experience</h4>
                    <p>IT support of ACYA (Australia-Chinese Youth Association)</p>
                    <p>Intern of DBS (Beijing, Jiangtai branch)</p>  

                    <h4><strong>User interface Design</strong></h4>
                    <p>Familiar with CSS, HTML, JavaScript.</p>
                    <p>Familiar with ASP .net, C#</p>
                    <p>Have experience in User interface</p>
                        <h4>Business analysis</h4>
                    <p> Assess current business process and recommend solutions
                    <p> Gather and analysis requirements from sponsor and supervisor
                    <p> Coordinate with system developers to define user acceptance test approach
                    <p> Analyse user feedback and suggest areas for improvement
                        <h4>Interest</h4>
                    <p>Play the accordion</p>
                    <p>Cycling</p>
                </div>
            </div>

			<div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.5s">
				<div class="trainer-thumb">
					<img src="images/trainer-img2.png" class="img-responsive" alt="Trainer" style="height:325px;width:250px">
				</div>
                <div>
                    <h2>Mengbo Zhang</h2>
                    <h4>Education</h4>
                    <p>Network Engineering (Bachelor)</p>
                    <p>Mater of Information Technology (Specialized at Network security and Data analysis)</p>

                    <h4>Technical Skill</h4>
                    <p>Familiar with computer language C, C++, Java, SQL and R </p>
                    <p>Proficiency with software and system like MS Office, Oracle DBMS, Wireshark, LINUX (Ubuntu, Kali), R studio, Weka and Netica</p>
                    <p>Familiar with tools like Visual Studio, Eclipse, RegShot, AdapteDNS, FakeNet and OllyDbg</p>

                    <h4>Communication & Adaptability</h4>
                    <p>Cultivated communication and written skill </p>
                    <p>Good ability to adapt to different working environments</p>

                    <h4>Interests</h4>
                    <p>Sports: fitness exercise, swimming</p>
                    <p>Arts: handwriting, guitar, photography </p>
                    <p>Leisure: cooking, reading, travelling, FOREX trading</p>
                </div>
</div>

			<div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.5s">
				<div class="trainer-thumb">
					<img src="images/trainer-img3.jpg" class="img-responsive" alt="Trainer" style="width:250px;height:325px">
				</div>
                <div>
                    <h2>Seed Alqahtani</h2>
                    <h4>Technical Skills</h4>
                    <p>Familiar with Microsoft Office and programming language (C++, Java, ASP.Net and JavaScript).</p>
                    <p>User experience design — including working with HTML/CSS, and JavaScript.</p>
                    <p>Big data analytics</p>

                    <h4>Soft Skills</h4>
                    <p>Good problem analysis and solving ability </p>
                    <p>Proficiency communication skills, reconciling conflicts </p>
                    <p>Good at time management</p>

                    <h4>Interests</h4>
                    <p>Soccer</p>
                    <p>Tennis</p>
                    <p>Swimming</p>
                </div>               	
            </div>            
		</div>
	</div>
</section>


<!-- =========================
    FOOTER SECTION   
============================== -->
<footer>
	<div class="container">
		
			<div class="col-md-12 col-sm-12">
				<p class="copyright-text">
                    Driver4T &copy; 2016 - Powered by Driver4T</p>
           	</div>
		</div>
</footer>

<!-- =========================
     SCRIPTS   
============================== -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

