@{
    ViewBag.Title = "About";
}
@Styles.Render("~/bundles/aboutus")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 style="font-family:Helvetica;font-size:400%">
                    Driver4T - About us
                </h1>
            </div>
            <h2>Who we are</h2>
            <dl>
                <dd>
                    Driver4T is a group of four Monash University students in Business information system degrees 
                </dd>
                <dd>
                    and Information Technology Degrees perspective.  Learning IT, but the difference of us groups us in 
                </dd>
                <dd>
                   a group. In these three months, we laughed, frightened, encouraged each other, and so on. We all 
                </dd>
                <dd>
                   believe, our story happened in these three months, but we still believe it is to be continued.

                </dd>
             </dl>
            <h2>What we believe.</h2>
            <dl>
                <dd>
                    We all love sports, moreover we would love to help people find a way to enjoy sports from our 
                </dd>
                <dd>
                    website. We believe we can do it.
                </dd>
                <dd>
                    Then Coplay was born.  
                </dd>
                <dd>
                   In the future, we believe CoPlay can give you more than a Website.
                </dd>
            </dl>
           <!-- <p align="right">Driver4T Drives your Life</p> --->
            <div class="row">
                <div class="col-md-3">
                                        <div  class="headpics">
                    <img alt="Bootstrap Image Preview" src="../../Content/Images/lan.jpeg" class="img-circle" height="150" width="150"/></div>
                   <br />

                    <p dir="ltr" style="text-align:left;"><span style="font-size:14pt;font-family:arial, helvetica, sans-serif;"><strong>Lan Wei</strong></span></p>
<p dir="ltr" style="text-align:left;"><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;"><strong>User interface Design</strong></span></p>
<ul><li><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;"><span style="color:#000000;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;background-color:transparent;">Familiar with CSS, HTML, JavaScript. </span></span></li>
<li><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;"><span style="color:#000000;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;background-color:transparent;">Familiar with&nbsp;ASP .net, C#</span></span></li>
<li><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;"><span style="color:#000000;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;background-color:transparent;">Have experience in User interface </span></span></li>
</ul><p dir="ltr" style="text-align:left;"><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;"><strong>Business analysis </strong></span></p>
<ul><li style="text-align:left;">
<p><span style="color:#000000;font-family:arial, helvetica, sans-serif;font-size:10pt;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;background-color:transparent;">Assess current business process and recommend solutions</span></p>
</li>
<li style="text-align:left;">
<p><span style="color:#000000;font-family:arial, helvetica, sans-serif;font-size:10pt;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;background-color:transparent;">Gather and analysis requirements from sponsor and supervisor</span></p>
</li>
<li style="text-align:left;"><span style="color:#000000;font-family:arial, helvetica, sans-serif;font-size:10pt;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;background-color:transparent;">Coordinate with system developers to define user acceptance test approach</span></li>
<li>
<p style="text-align:left;"><span style="color:#000000;font-family:arial, helvetica, sans-serif;font-size:10pt;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;background-color:transparent;">Analyse user feedback and suggest areas for improvement</span></p>
</li>
</ul>


                </div>
                <div class="col-md-3">
                    <div  class="headpics">
                        <img alt="Bootstrap Image Preview" src="../../Content/Images/mengbo.jpeg" class="img-circle" height="150" width="150"/>
                    </div>
                               <br />
<p dir="ltr" style="text-align:left;"><span style="font-size:14pt;font-family:arial, helvetica, sans-serif;"><strong>Mengbo Zhang</strong></span></p>
<p dir="ltr" style="text-align:left;"><span style="font-family:arial, helvetica, sans-serif;"><strong style="font-size:12pt;">Education</strong></span></p>
<ul><li><span style="font-size:10pt;line-height:17.328px;font-family:arial, helvetica, sans-serif;">Network Engineering (Bachelor)</span></li>
<li><span style="font-size:10pt;line-height:17.328px;font-family:arial, helvetica, sans-serif;">Mater of Information Technology (Specialized&nbsp;at Network security and Data analysis)</span></li>
</ul><p style="text-align:left;"><span style="font-family:arial, helvetica, sans-serif;"><strong><span style="font-size:12pt;line-height:14.44px;">Technical Skill</span></strong></span></p>
<ul><li><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;">Familiar with computer language C, C++, Java, SQL and R</span></li>
<li><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;">Proficiency with software and system like MS Office, Oracle DBMS, Wireshark, LINUX (Ubuntu, Kali), R studio, Weka and Netica&nbsp;</span></li>
<li><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;">Familiar with tools like Visual Studio, Eclipse, RegShot, AdapteDNS, FakeNet and OllyDbg</span></li>
</ul><p style="text-align:left;"><span style="font-family:arial, helvetica, sans-serif;"><strong><span style="font-size:12pt;">Communication &amp; Adaptability</span></strong></span></p>
<ul><li><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;">Cultivated communication and written skill</span></li>
<li><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;">Good ability to adapt to different working environments</span></li>
</ul><p style="text-align:left;"><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;"><strong>Interests</strong></span></p>
<ul><li style="text-align:left;"><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;">Sports: fitness exercise, swimming</span></li>
<li style="text-align:left;"><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;">Arts: handwriting, guitar, photography</span></li>
<li style="text-align:left;"><span style="font-size:10pt;font-family:arial, helvetica, sans-serif;">Leisure: cooking, reading, travelling, FOREX trading</span></li>
</ul>

            



                </div>
                <div class="col-md-3">
                    <div  class="headpics">
                        <img alt="Bootstrap Image Preview" src="../../Content/Images/saeed.jpeg" class="img-circle" height="150" width="150"/>
                    </div>
                               <br />
                   <p dir="ltr" style="text-align:left;"><span style="font-size:14pt;font-family:arial, helvetica, sans-serif;"><strong>Saeed Alqahtani</strong></span></p>
<p><span style="font-family:arial, helvetica, sans-serif;font-size:12pt;"><strong>Technical Skills</strong></span></p>
<ul><li><span style="font-size:10pt;"><span style="line-height:17.328px;">Familiar with&nbsp;</span>Microsoft Office and programming language (C++, Java, ASP.Net and JavaScript).</span></li>
<li><span style="font-size:10pt;">User experience design — including working with HTML/CSS, and JavaScript.</span></li>
<li><span style="font-size:10pt;">Big data analytics</span></li>
</ul><p><strong><span style="font-family:arial, helvetica, sans-serif;font-size:12pt;">Soft Skills</span></strong></p>
<ul><li><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Good problem analysis and solving ability</span></li>
<li><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Proficiency communication skills, reconciling conflicts</span></li>
<li><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Good at time management</span></li>
</ul><p><span style="font-family:arial, helvetica, sans-serif;font-size:12pt;"><strong>Interests</strong></span></p>
<ul><li><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Soccer</span></li>
<li><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Tennis</span></li>
<li><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Swimming</span></li>
</ul>


                </div>
                <div class="col-md-3">
            



                    <div class="headpics">
                        <img alt="Bootstrap Image Preview" src="../../Content/Images/yuxuan.jpeg" class="img-circle" height="150" width="150"/>
                    </div>
                    <br />
                    <p dir="ltr" style="text-align:left;"><span style="font-size:14pt;font-family:arial, helvetica, sans-serif;"><strong>Yuxuan Lin</strong></span></p>
<h3 dir="ltr" style="text-align:left;"><span style="color:#000000;font-family:arial, helvetica, sans-serif;font-size:12pt;"><strong>Work Experience</strong></span></h3>
<ul><li><span style="font-size:10pt;">Internship in Bank of Communications in China (1 month)</span></li>
<li><span style="font-size:10pt;">Work at Jerry Tek as software engineer in Melbourne (11 months)</span></li>
</ul><h3 dir="ltr" style="text-align:left;"><span style="color:#000000;font-size:12pt;"><span style="font-family:arial, helvetica, sans-serif;"><strong>Skill List</strong></span></span></h3>
<ul><li>
<div><span style="font-size:10pt;"><span style="font-family:arial, helvetica, sans-serif;">J</span><span style="font-family:arial, helvetica, sans-serif;">ava development including Android development</span></span></div>
</li>
<li>
<div><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Web application development with JavaEE, .Net C# and JavaScript</span></div>
</li>
<li>
<div><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Database (and distributed database) building and management, and work with HortonWorks</span></div>
</li>
<li>
<div><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Hardware programming in Arduino</span></div>
</li>
<li>
<div><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Parallel system programming in OpenCL, OpenMP and OpenMPI</span></div>
</li>
<li>
<div><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Linux system management</span></div>
</li>
</ul><h3 style="text-align:left;"><span style="font-family:arial, helvetica, sans-serif;font-size:12pt;"><strong>Interests</strong></span></h3>
<ul><li style="text-align:left;">
<div><span style="font-size:10pt;"><span style="font-family:arial, helvetica, sans-serif;">Economics </span><span style="font-family:arial, helvetica, sans-serif;">bachelor</span></span></div>
</li>
<li style="text-align:left;">
<div><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">Crazy about swimming and badminton</span></div>
</li>
<li>
<div style="text-align:left;"><span style="font-family:arial, helvetica, sans-serif;font-size:10pt;">liberalist and pessimism</span><span style="font-family:arial, helvetica, sans-serif;"><br></span><strong><span style="font-family:arial, helvetica, sans-serif;"><br></span></strong></div>
</li>
</ul>
                </div>
            </div>
        </div>
    </div>
</div>
