@{
    ViewBag.Title = "About";
}
@Styles.Render("~/bundles/aboutus")

<!-- =========================
    OVERVIEW SECTION   
============================== -->
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<img src="../../Content/Images/overview-img.jpg" class="img-responsive" alt="Overview">
				<blockquote class="wow fadeInUp" data-wow-delay="0.5s">Driver4T Drives Your Life</blockquote>
			</div>

			<div class="wow fadeInUp col-sm-12 col-md-6" data-wow-delay="0.5s">
				<div class="overview-detail">
					<h2>Who we are</h2>
					<p>Driver4T is a group of four Monash University students in Business information system degrees and Information Technology Degrees perspective. The difference of our personality makes us in one group. In these three months, we laughed, worked hard, encouraged each other, and so on. We all believe, our story happened in these three months, but we still believe it is to be continued.</p>
                    <h2>What we believe.</h2>
                    <p>We all love sports, moreover we would love to help people find a way to enjoy sports from our website. We believe we can do it. 
                    </p>
                    <p> Then Coplay was born. </p>
                    <P>In the future, we believe CoPlay can give you more than a Website. </p>
				</div>
			</div>
   		</div>
	</div>
</section>


<!-- =========================
    TEAM MEMBER SECTION   
============================== -->
<section id="trainer" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.5s">
				<h2>Team Members</h2>
			</div>
            <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.5s">
                <div class="trainer-thumb">
                    <img src="../../Content/Images/trainer-img4.jpeg" class="img-responsive" alt="Trainer" style="width:250px;height: 325px">
                </div>
                <div class="overview-detail">
                    <h2>Yuxuan Lin</h2>
                    
                </div>
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.5s">
                <div class="trainer-thumb">
                    <img src="../../Content/Images/trainer-img1.jpg" alt="Trainer" style="width:250px; height:325px">
                </div>
                <div >
                    <h2>Lan Wei</h2>
                    
                </div>
            </div>

			<div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.5s">
				<div class="trainer-thumb">
					<img src="../../Content/Images/trainer-img2.png" class="img-responsive" alt="Trainer" style="height:325px;width:250px">
				</div>
                <div>
                    <h2>Mengbo Zhang</h2>
                  
                </div>
</div>

			<div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.5s">
				<div class="trainer-thumb">
					<img src="../../Content/Images/trainer-img3.jpg" class="img-responsive" alt="Trainer" style="width:250px;height:325px">
				</div>
                <div>
                    <h2>Seed Alqahtani</h2>
                    
                </div>               	
            </div>            
		</div>
	</div>
</section>