@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Driver4T</h1>
    <p class="lead">This is Driver4T team page.</p>
    <!-- <p>@Html.ActionLink("View all sport and rec facilities", "Index", "SportandRecs")</p> -->
</div>


<div>
    
</div>