@using CoPlayV2.Models
@model CoPlayV2.Models.ClubViewModels
@{
    ViewBag.Title = "Index";
}

<div class="container">
    @using (Html.BeginForm("FindClubs", "Club", FormMethod.Post, new {@class = "form-inline"}))
    {
        <form class="form-inline">
            <div class="form-group">
                @{
                    var selectList = new SelectList(
                        new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Victoria", Value = "Victoria"},
                            new SelectListItem {Text = "Monash University", Value = "Monash University"}
                        }, dataValueField: "Value", dataTextField: "Text");
            
                    @Html.LabelFor(model => model.Type)
                    @Html.DropDownListFor(m => m.Type, selectList)
                }
            </div>
            <div class="form-group">
                @{
                    var sportTypes =  new SelectList(
                        new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Badminton", Value = "Badminton"},
                            new SelectListItem {Text = "Fitness/gymnasium", Value = "Fitness/gymnasium"},
                            new SelectListItem {Text = "Racquetball/Squash", Value = "Racquetball/Squash"},
                            new SelectListItem {Text = "Swimming", Value = "Swimming"},
                            new SelectListItem {Text = "Table Tennis", Value = "Table Tennis"},
                            new SelectListItem {Text = "Tennis", Value = "Tennis"},
                        }, dataValueField: "Value", dataTextField: "Text");
                    @Html.LabelFor(model => model.SportType)
                    @Html.DropDownListFor(m => m.SportType, sportTypes)
                }
                
            </div>

            <button type="submit" class="btn btn-default">Search</button>
        </form>
    }
</div>