@using CoPlayV2.Models
@model CoPlayV2.Models.ClubViewModels
@{
    ViewBag.Title = "Index";
}

<div class="container">
    @using (Html.BeginForm("FindClubs", "Club", FormMethod.Post, new {@class = "form-inline"}))
    {
        <form class="form-inline">
            <div class="form-group">
                @{
                    var selectList = new SelectList(
                        new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Victoria", Value = "Victoria"},
                            new SelectListItem {Text = "Monash University", Value = "Monash University"}
                        }, dataValueField: "Value", dataTextField: "Text");
            
                    @Html.LabelFor(model => model.Type)
                    @Html.DropDownListFor(m => m.Type, selectList)
                }
            </div>
            <div class="form-group">
                    @Html.LabelFor(model => model.SportType)
                    @Html.DropDownListFor(m => m.SportType,  selectList: new SelectList(items: Enum.GetValues(typeof(SportTypesEnum))))         
            </div>

            <button type="submit" class="btn btn-default">Search</button>
        </form>
    }
</div>