
@{
    ViewBag.Title = "Club";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/CLUBcss")
@Styles.Render("~/bundles/jqueryUIcss")

<body style="background-image:url(../../Content/Images/monashclub.jpg); background-repeat:no-repeat;background-size:100% 100%; height:1000px">
    <div class="text-center">
        <h2>Join Club</h2>
        <p>Clubs Clubs Clubs!</p>
    </div>
    <hr />
    <p style="font-size: large; font-weight: bold; color: black">
        Your searched sports: 
    </p>
    <div class="Raleway-semibolditalic"style="color:black; font-size:30px">Monash Sport Club</div>
    <div id="accordion">
        <h3 class="Raleway-Medium" style="font-size:20px">Monash Caulfield Badminton Club</h3>
        <div>
            <div>
            <table>
                <tr>
                    <td>
                        <b>Address:</b> 2 Princes Ave, Caulfield East VIC 3145 &nbsp;&nbsp;
                    </td>
                    <td>
                        <b>Contact:</b> caulfiled.badminton.club@gmail.com &nbsp;&nbsp; 
                    </td>
                    <td >
                        <a href="https://www.facebook.com/groups/25452009767/" style="color:cornflowerblue"><b>Join Us</b></a>
                    </td>
                </tr>
            </table>
             </div> 
            <hr />
            <div>
                "We are having a trial session on week 1, so badminton sessions officially start on week 2! But members can definitely still come on week 1 because it's only a trial session for new comers or potential members (:
                Our club aims to promote the passion and joy of playing badminton, not only as a sport, but also as an activity that enables friendship and teamwork through the interaction with other members and players in the club. We love meeting new members, and we hope to see more members joining us every semester as we strive for the best!"
            </div>
            <hr/>
            <div> <b>Open Time:</b> "Tuesday : 5pm - 6.30pm Thursday : 5pm - 8.30pm Friday : 3pm - 7pm" </div>
              
        </div>
        <h3>Second</h3>
        <div>Phasellus mattis tincidunt nibh.</div>
        <h3>Third</h3>
        <div>Nam dui erat, auctor a, dignissim quis.</div>
    </div>

    <div>
      
                <button onclick="" class="btn btn-info Raleway-Medium" style="font-size:25px">Victoria Clubs</button>
     
        <button onclick="" class="btn btn-info Raleway-Medium" style="font-size:25px;float:right">Back to search</button>
    </div>

    @Scripts.Render("~/bundles/CLUBscripts")
</body>
