body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#Site-content {
    flex: 1;
    display: flex;
}


.padding {
	padding-left: 2cm;
}
.paddingTitle {
    padding-left: 4cm;
}
.paddingMobile {
	margin: auto;
    width: 60%;
}
.form-inside {
    padding-left: 15px;
}
#login-panel-wrap {
    margin: 0 auto;
    padding-top: 20px;
    background: url(/Content/Images/Login-Page-Background.jpg) no-repeat center center fixed;
    width: 100%;
    background-size: cover;
    align-items: stretch;
}


#jb {
    margin: 0 auto;
    width: 50%;
    background: bisque;
}

h1 {
    letter-spacing: 0px;
}

.jumbotron {
    background:bisque !important
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin-heading {
    color: aliceblue;
    text-align: center;
}

.checkbox-style {
    color: aliceblue;
    font-size: 18px;
}