@model CoPlayV2.Models.MyManageIndexViewModels

@{
    ViewBag.Title = "Manage Index";
}

<div class="container-fluid-full">	
    <div class="row-fluid">
        <div class="span2" style="background-color:lavender;">xxx</div>
        <div class="span10" style="background-color:lavenderblush;">mmm</div>
    </div>
</div>
@Scripts.Render("~/bundles/ManageCss")